@import url("https://use.typekit.net/znp6qka.css");

body,h2,h3,h4,h5,h6 {font-family: "Conglomerate", sans-serif}
h1 { font-family: "Conglomerate", avebury}
p {font-family: "Poppins", sans-serif;}

body
{
    background-color:rgb(50, 54, 59);
   
}

#scrollbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    align-content: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    font-size: 200%;
    height: 120px;
    width: 275px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 60px;
    text-align: center;
    border-color: rgb(187, 160, 187);
    text-shadow: 5px 5px 10px black;
    
}

#scrollbtn:hover {
    background-color: rgb(245, 135, 72);
    border: none;
    box-shadow: 5px 5px 10px white;
    transition: 0.5s;
    text-shadow: 5px 5px 10px black;
}

#sec2
{
    background-color: rgb(75, 136, 177);
}

#form1
{
    background-color: rgb(238, 188, 123);
}
#table
{
    background-color: white;
}
/*Black background*/
.navbar
{
    background-color: #333;
    overflow: hidden;
    
}

/* navigation links style */

.navbar a
{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* top nav link hover color */
.navbar a:hover
{
    background-color: coral;
    color: cornsilk;
    box-shadow: 5px 5px 10px white;
}

/* Active link color */

.active
{
    background-color: coral;
    color: cornsilk;
}

.banner
{
    max-width: 100%;
    position: relative;
    margin: auto;
}

footer
{
    background-color: #333;
    color: #d5d5d5;
    position: relative;
    left: 0%;
    bottom: 0%;
    text-align: center;
    width:100%;
}

footer a 
{
    color: #d5d5d5;
    font-size: 1.4em;
    padding: 25px;
}

.sec1
{
    background-color:rgb(60, 125, 136);
    color:white;
}

.sec2
{
    background-color:rgb(181, 208, 212);
    color:black;
}

aside a:hover
{
    background-color: tomato;
    color: white;

}

.alert
{
    color: tomato;
}

#dltb:hover
{
    background-color: rgb(252, 103, 4);
    border: none;
    box-shadow: 5px 5px 10px white;
    transition: 0.5s;
    text-shadow: 5px 5px 10px black;
}




* {
    box-sizing: border-box;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #f16a41;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 50px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  



/* Toast style for deletion message */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(252, 124, 65);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }













  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    #scrollbtn
    {
      font-size: 90%;
      padding: 4px 8px;
      height: 60px;
      width: 150px;
      top: 30%;
    }
  }

  @media (max-width: 1224px)
  {
    #scrollbtn
    {
      font-size: 150%;
      padding: 8px 14px;
      height: 120px;
      width: 200px;
    }
  }


  @media (max-width: 768px)
  {
    #scrollbtn
    {
      font-size: 130%;
      padding: 8px 14px;
      height: 80px;
      width: 175px;
      top: 30%;
    }
  }